html,
body {
  height: 100%;
  position: relative;
}

#app {
  display: none;
}

.spinner-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  width: 50px;
  height: 50px;
}

.input {
  width: 100px !important;
}

.optionbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: 2px solid #f2f2f2;
  background: #fff;
}
